<div aria-haspopup="true" aria-expanded="false" dropdown>
    <a href="">Topics <i class="uk-icon-caret-down"></i></a>
    
    <div class="uk-dropdown">
        <div class="uk-grid uk-dropdown-grid">
            <div id="topics" class="uk-width-1-3">
                <ul class="uk-nav uk-nav-dropdown uk-panel">
                    <li class="uk-nav-header">Topics</li>
                    <li class="toggle" data-toggle="#beauty">
                        <a href="{% url 'category' cat='beauty' %}">Beauty</a>
                    </li>
                    <li class="toggle" data-toggle="#career">
                        <a href="{% url 'category' cat='career' %}">Career</a>
                    </li>
                    <li class="toggle" data-toggle="#lifestyle">
                        <a href="{% url 'category' cat='lifestyle' %}">Lifestyle</a>
                    </li>
                    <li class="toggle" data-toggle="#entertainment">
                        <a href="{% url 'category' cat='entertainment' %}">Entertainment</a>
                    </li>
                    <li class="toggle" data-toggle="#money">
                        <a href="{% url 'category' cat='money' %}">Money</a></li>
                    <li class="toggle" data-toggle="#wildcard">
                        <a href="{% url 'category' cat='wildcard' %}">Wildcard</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                </ul>

                <div class="uk-panel">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt.Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt.</div>
            </div>
            <div id="topicDeets" class="uk-width-2-3">
                <div class="menu" id="beauty">beauty</div>
                <div class="menu" id="career">career</div>
                <div class="menu" id="lifestyle">lifestyle</div>
                <div class="menu" id="entertainment">entertainment</div>
                <div class="menu" id="money">money</div>
                <div class="menu" id="wildcard">wildcard</div>
            </div>
        </div>
    </div>
</div>