<div id="loginModal" class="uk-modal">
	<div class="uk-modal-dialog uk-text-center">
		<div class="uk-modal-header uk-clearfix">
			<a class="uk-modal-close uk-close"></a>
		</div>

		<div class="uk-modal-body">
			<h2>Login</h2>
			<!-- <p class="uk-text-small">To view your dashboard, your subscribed contents, or to comment on articles, please log in.</p> -->

			<form method="post" url="{% url 'userlogin' %}">
				{% csrf_token %}

				<div class="uk-form-row">
					<input class="underlined-input" id="username" name="username" placeholder="Username" required="true" type="text" />
				</div>
				
				<div class="uk-form-row">
					<input class="underlined-input" id="password" name="password" placeholder="Password" required="true" type="password" />
					<span class="icon icon-eye toggle-pw-viz"></span>
				</div>

				<div class="uk-form-row">
					<button id="submitLogin">Login</button>
				</div>
				
				<div class="help-block">
					<span class="btn-toggle" data-toggle="#forgot">Forgot Password?</span>
					<span class="divider">|</span>
					<span class="btn-toggle" data-toggle="#register">Sign Up</span>
				</div>

				<div class="uk-text-muted uk-text-small uk-text-center">Use of this site constitutes acceptance of User Agreement and Privacy Policy</div>
			</form>
		</div>
	</div>
</div>