{% load staticfiles %}
<!DOCTYPE html>
<html lang='en' data-ng-app="app">
	<head>
		<meta charset="utf-8" />  
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		{% if data.page == 'login' %}
			<title>Empire</title>
		{%  else %}
			<title>{% block title %}{% endblock title %}  |  Empire</title>
		{% endif %}
		
		<meta name="author" content="Amanda Anumba" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="Empire Dashboard" />
        <meta name="theme-color" content="#FFFFFF" />
        <meta name="msapplication-navbutton-color" content="#FFFFFF" />
        <link rel="icon" href="https://s3.amazonaws.com/chicreptawr/favicon.png" />
        <link rel="apple-touch-icon" href="https://s3.amazonaws.com/chicreptawr/favicon.png" />
        <script src="{% static 'js/modernizr.js' %}"></script>
        
		{% block head %}{% endblock head %}

		{% if data.hasPageCSS %}
			<link rel="stylesheet" href="/static/css/{{ data.page }}.css?v={{ data.version }}" />
		{% endif %}
	</head>

	<body>
		{% block content %}{% endblock content %}
		
		{% include "partials/Footer.html" %}

		<footer>
			<script>var debug = {% if data.debug %}true{% else %}false{% endif %};</script>
			<script src="{% static 'js/main.js' %}"></script>

			{% block footer %}{% endblock footer %}

			{% if data.hasPageJS %}
				<script src="/static/js/{{ data.page }}.js?v={{ data.version }}"></script>
			{% endif %}
		</footer>
	</body>
</html>