{% extends "_BlankPageTemplate.html" %}



{% block title %}{{ category.name }}{% endblock %}



{% block head %}{% endblock head %}



{% block content %}
	{% include "partials/Header.html" %}
	
	<main data-ng-controller="DisplayController as vm">
		{% block cycleHeader %}{% endblock cycleHeader %}
		
		{% block addtlContent %}{% endblock addtlContent %}

		{% include "partials/LoginModal.html" %}
	</main>
{% endblock content %}



{% block footer %}{% endblock footer %}



{% comment %}
	{% if data.page != 'cycle' %}
		<section class="header__hero">
			<div class="hero__background">
				{% if data.page == 'lifestyle' %}
					<video class="uk-cover-object" width="600" height="400" autoplay="true" loop="true" muted="true">
						<source src="/static/images/fun.mp4" type="video/mp4">
					</video>
				{% else %}
					<img src="/static/images/{{ data.page }}.jpg" />
				{% endif %}
			</div>
			<div id="hero">
				<div class="hero-content animated fadeInUp">
					<div class="hero__title">{{ category.name }}</div>
					<div class="hero__sub-title">{{ category.description }}</div>
				</div>
			</div>
		</section>
	{% else %}
	{% endif %}

	{% if subCategories|length > 0 %}
		<section class="header__subnav">
			<ul>
			{% for sub in subCategories %}
				<li>
					<a href="{% url 'subcategory' cat=category.name|lower subcat=sub.name|lower %}">{{ sub.name }}</a>
				</li>
			{% endfor %}
			</ul>
		</section>
	{% endif %}
{% endcomment %}