{% extends "blog/_BaseArticleTemplate.html" %}


{% block addtlContent %}
    <section class="article__header">
        <div class="article__title">{{ article.title }}</div>

        <div class="article__description">{{ article.description }}</div>
        
        <div class="article__image">
            <img src="{{ article.header_image }}" alt="{{ article.photo_credit }}" />
            <div class="image-credit">{{ article.photo_credit }}</div>
        </div>
    </section>


    <section class="article__info">
        <div class="article__author">
            <div class="avatar">
                <img src="{{ user.avatar }}" />
            </div>
        
            <div class="bio">
                <div class="name">{{ article.author.first_name|escape }} {{ article.author.last_name|escape }}</div>
                <div class="date">{{ article.published_date|date:"N d, Y" }}</div>
                <div class="article__category">
                    {% spaceless %}
                    {% if category != '' %}
                        {{ category }}
                    {% else %}
                        {{ article.category.name|join:' ,' }}
                    {% endif %}
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </section>


    <section class="article__content">
        <article id="article" class="commentable-container">{{ article.content|safe }}</article>
    </section>
{% endblock addtlContent %}