{% block title %}{{ article.title }}{% endblock title %}



{% block head %}{% endblock head %}



{% block content %}
    <header id="article-header" style="background:linear-gradient(rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0.5)), url({{ article.header_image }}) no-repeat center;background-size:cover;">
        
		<div class="title">
    		<h1>{{ article.title }}</h1>
    		<p>{{ article.description }}</p>
    	</div>
	</header>

    <nav id="article-side-nav">
    	<div>
    		<p id="avatar" class="img-thumbnail img-circle" style="background:url({{ article.author.avatar }}) no-repeat center;background-size: cover;"></p>
    	</div>
    	
    	<ul>
    		<li>
    			<p>Written By</p>
    			<p><a href="">{{ article.author.first_name }} {{ article.author.last_name }}</a></p>
    		</li>

    		<li>
    			<p>Date</p>
    			<p id="article_date">{{ article.releaseDate }}</p>
    		</li>

    		<li>
    			<p>Category</p>
    			<p>{{ article.category.name|join:", " }}</p>
    		</li>

            <li>
                <p>Tags</p>
                <p><small>{{ article.tags|join:", " }}</small></p>
            </li>
    	</ul>
    </nav>

    <section id="article-main">
    	<div id="social_btns">
    		<p>Share</p>

            <ul id="share">
                <li id="tw">
                    <span class="icon-twitter pull-left"></span>
                    <span>Twitter</span>
                </li>
                
                <li id="pin">
                    <span class="icon-pinterest pull-left"></span>
                    <span>Pinterest</span>
                </li>

                <li id="gp">
                    <span class="icon-google-plus pull-left"></span>
                    <span>Google +</span>
                </li>

                <li id="fb">
                    <span class="icon-facebook pull-left"></span>
                    <span>Facebook</span>
                </li>
            </ul>
                
        	<a href="https://twitter.com/share" class="twitter-share-button" data-via="_thisisempire" data-hashtags="ThisIsEmpire">Tweet</a>
            
            <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>

            <div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>

            <div class="fb-share-button" data-href="http://empire.life" data-layout="button_count"></div>
    	</div>

    	<article class="content">
			<div id="commentable-container" class="container commentable-container">{{ article.content }}</div>
        </article>
    </section>
    
    <!-- share buttons -->
    <div id="article-social-btm">
        <p class="text-center text-uppercase">Share this Article</p>
        <ul id="share">
            <li id="tw">
                <span class="icon-twitter pull-left"></span>
                <span>Twitter</span>
            </li>
            
            <li id="pin">
                <span class="icon-pinterest pull-left"></span>
                <span>Pinterest</span>
            </li>

            <li id="gp">
                <span class="icon-google-plus pull-left"></span>
                <span>Google +</span>
            </li>

            <li id="fb">
                <span class="icon-facebook pull-left"></span>
                <span>Facebook</span>
            </li>
        </ul>
    </div>

    <!-- recommended content -->
    <section id="article-social-btm">
        <p>Recommended Articles</p>

        <!-- 3 recommended articles either with the same tags or from the same section -->
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

    <div id="fb-root"></div>
{% endblock content %}