{% extends "blog/_BaseBlogTemplate.html" %}


{% block cycleHeader %}
	<section class="header__hero">
		<div class="hero__background">
			<img src="{{ feature.feature_image }}" />
		</div>
		<div id="hero">
			<div class="hero-content animated fadeInUp">
				<div class="hero__title">{{ feature.title }}</div>
				<div class="hero__sub-title">{{ feature.description }}</div>
				<div class="hero__info">
					<div class="avatar">
						<img src="{{ feature.author.avatar }}" />
					</div>
					<div class="author">
						<p>{{ feature.author.first_name }} {{ feature.author.last_name }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock cycleHeader %}


{% block addtlContent %}
	{% if articles %}
		<div id="articlesList">
			{% for i in articles %}
				<article class="article {{ i.article_type }} uk-clearfix">
					{% if sub == '' %}
						<a href="{% url 'read' cat=category|lower slug=i.slug %}">
					{% else %}
						<a href="{% url 'read' cat=category|lower subcat=sub slug=i.slug %}">
					{% endif %}
						<div class="article__image"></div>
						
						<div class="article__info">
							<div class="article__title">{{ i.title }}</div>
							
							{% if i.article_type == 'feature' %}
								<div class="article__description">{{ i.description }}</div>
							{% endif %}

							<div class="article__details uk-clearfix">
								<div class="article__author"><span class="italic">by </span> {{ i.author.first_name|escape }} {{ i.author.last_name|escape }}</div>
								<div class="article__date">{{ i.published_date|date }}</div>
							</div>
						</div>
					</a>
				</article>
			{% endfor %}
		</div>
	{% endif %}
{% endblock addtlContent %}